<div class="user">
	<div class="image_user">
		<%= image_tag(@user.profile_image_url, :size => '48x48', :alt => @user.name ) %>
	</div>
	<div style="float:left;">
		<div style=" clear:left;">
			<%= @user.name %>
		</div>
		<div style=" clear:left;">
			<%= @user.location %>
		</div>
		<div style="float:left;">
			<%= link_to(@user.screen_name, 'http://twitter.com/'+@user.screen_name); %>
		</div>
	</div>
</div>

<div class="tweets">
	<h2>Tweets</h2>
	<% @tweets.each do |tweet| %>
		<div class="tweet"><%= tweet.text %></div>
	<% end %>
</div>

<div class="mentions">
	<h2>Mentions</h2>
	<% @mentions.each do |mention| %>
		<div class="tweet"><%= mention.user.screen_name %> <%= mention.text %></div>
	<% end %>
</div>